{% extends 'base.html' %} 

{% block content %}

<div class="header" style="width:100%; margin: 0px;"> 
    <h1>{{ app_name }}</h1>
    <p>
        The record of all the visual imageries that ever mattered to the soul of an unfortunate man.
    </p>
</div>

<h3>Add New Item Here: </h3>

<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Add Product"/>
            </td>
        </tr>
    </table>
</form>

{% endblock %}