<h1>The Mind Archives</h1>

<h2>The Keratin Rift</h2>
<p>{{ name }}<p>

<p>The Keratin Rift is the point above the zenith. It is the time after time, the space without space. Our parents' past, and our children's future. It is the convergent point where all bifurcating strands of reality collide and fly into dreams. It is more than just the end — it is the frontier beyond.

Expect to see the skeletal remains of the props behind the curtain after the sun slips below the horizon and the theater is all but emptied. The sky is bleak, dreary, drab, and the fields are full of bones. Through the spindly spider branches of the blackened forests, if you listen closely, you may hear the still-echoing rounds of applause.

The people who have made it here encounter the monoliths in one way or another. They stand silent, unmoving, as stone pages of a petrified story. But they are not so much pages now as they are headstones. Lines are etched onto their eternal visages, readable no matter the language you speak. For the story they tell is one that we all know, deep down in our still-beating hearts.

The story is one of triumph. A triumph that cast its fulgent light amongst the seas of keratin caricatures when they were still background characters… but there is no triumph here anymore. There is no honor. No highly esteemed deed. Nothing of value is here; nothing of value is left. But upon observing the feats between the cracks in the rock, one can imagine what the Keratin Rift was like when there was still an author breathing life through their words into the fabric of this plane. One can imagine how that very same fabric began to fizzle and decay and rot after the final word. One can imagine when the life became stale and stolid, when the trees and the grass and the people began to choke without their purpose, petrified by finality.

Eight monoliths in total have been discovered thus far. The eight of them sequentially tell the story segments, and are found throughout several regions of the Keratin Rift. Below, we will list each region along with its respective headstone in chronological order.</p>

<h2>Creation </h2>
<p>{{ class }}<p>

<p>All paths lead from creation. If you have the misfortune of encountering this place, this melancholy ashen landscape is what will greet you as you open your eyes. Upon further inspection, the blackened trees carry vestiges of the teeming ebullience of day-to-day pleasantries: a daintily-cut patch of tablecloth hanging from a low, thorny branch, the threadbare hem of a silken cloak laid to rest upon a sleeping willow's remains, or the wheezing cries of a long-lost top hat wedged into a crook of a tree whose owner never came back to reclaim it.

This region used to be a town. The hero's home town, a proverbial fountain of youth. For it was from this point onward and outward the black ink sprayed color into this now monochromatic, abandoned world. Surrounding lost wanderers in a vast expanse of rocky grey dirt pockmarked with hollow snags is a solemn reminder of what once was.

In an unspecified location in the region of creation, a dry stone fountain can be found. The water that rippled across this elderly container used to be the center of the essence of life itself. The houses and stores and gardens that surrounded it and the people that drew water from its depths are all gone now. This despairing dry fountain is all that remains of the town.

A monolith has been discovered standing sentinel over the remains of the fountain. It has since been determined to be the first of the set, and its header, "Creation," gives the region its moniker.
</p>